body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7f5f5; /* Dark background for the full page */
  color: #ffffff; /* White text for contrast */
  width: 100%;
  /* border : 1px solid red; */
  overflow-y: auto; /* Allow vertical scrolling */
}

.main-container {
  display : flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow-y: auto; /* Allow vertical scrolling */
}

